<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @domain.url %>
</p>

<p>
  <strong>Expires on:</strong>
  <%= @domain.expires_on %>
</p>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
